<!DOCTYPE html>
<html>
<head>
  <title>Mylook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
<div  id="heaer"> 
  <%=form_tag search_videos_path, method: 'post' do %>
    <%=text_field_tag :search_term, params[:search_term], placeholder: "Search Videos" %>
    <%=submit_tag "Search", :name => nil%>
<% end %>
</div>
  <h1><div class="title"><%=link_to (image_tag "makeup.png", size: "120x90"), root_path %> </div></h1>
</div>
<%= yield %>

</body>
</html>
