<!DOCTYPE html>
<html>
<head>
  <title>Mylook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div  id="header"> 
  <div class="search-input"> SEARCH:  </br>
    <%=text_field_tag "" %>
    <%=submit_tag "search" %>
</div>
  <h1><div class="title"><%=image_tag "makeup.png", size: "120x90" %> </div></h1>
</div>
<%= yield %>

</body>
</html>
